* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
form {
  position: absolute;
  width: 95%;
  z-index: 3;
  background-color: aqua;
  padding: 50px 0 50px 10px;
  margin: 0 3px;
  background-color: #281aee;
  top: 50%;
  left: -10000px;
  transform: translate(-50%, -50%);
}
h3 {
  color: white;
}
form p,
label {
  width: 30%;
  color: white;
}
input {
  width: 60%;
}
form button {
  width: 80%;
  margin-top: 20px;
  border-radius: 15px;
  padding: 5px;
  border: none;
}
label {
  margin-right: 20px;
}

#close {
  color: white;
  font-size: 22px;
}
.center {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex: 100%;
  max-width: calc(100% - 10px);
  padding: 10px;
  margin: 10px 5px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 2px 2px;
}
.options {
  max-width: 100%;
  padding: 0;
}
.options button {
  width: 33.33%;
}
.btn {
  width: 33.33%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: gray;
  margin: 0 19px;
}
.icon span {
  font-size: 100px;
  color: #dfdce3;
}
.hide {
  display: none;
}
.show-pos {
  left: 50%;
}
#close {
  position: absolute;
  top: 0;
  right: 0;
}
button.delete {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .card {
    flex: 50%;
    max-width: calc(50% - 10px);
  }
}

@media screen and (min-width: 1000px) {
  .card {
    flex: 33.33%;
    max-width: calc(33.33% - 10px);
  }
}
